<div class='header row align-items-center'>
  <div class='col'>
    <h1>crypto cruncher</h1>
  </div>

  <div class='col text-right'>
    <% if current_user %>
      <div class='dropdown d-inline-block'>
        <button class='btn btn-secondary dropdown-toggle btn'
          type='button'id='dropdownMenuButton'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'>
          Account
        </button>
        <div class='dropdown-menu'  aria-labelledby='dropdownMenuButton'>

          <%= link_to 'Portfolio',
            portfolio_path,
            class: ['btn btn-link dropdown-item'] %>

          <%= link_to 'Transactions',
            transactions_path,
            class: ['btn btn-link dropdown-item'] %>

          <div class="dropdown-divider"></div>

          <%= link_to 'Settings',
            edit_user_registration_path,
            class: ['btn btn-link dropdown-item'] %>
        </div>
      </div>

      <%= link_to 'Sign Out',
        destroy_user_session_path,
        class: ['btn btn-link d-inline-block btn'],
          method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: ['btn btn-primary btn-sm'] %>
      <%= link_to 'Sign Up', new_user_registration_path, class: ['btn btn-link btn-sm'] %>
    <% end %>
  </div>

</div>
